<h2>监控系统数据</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>布署位置</th>
      <th>省份</th>
      <th>地址</th>
      <th>上传人员</th>
      <th>上传日期</th>
      <th>详情</th>
      <th>编辑</th>
    </tr>
  </thead>

  <body>

    <% @information.each do |information| %>
    <tr>
      <td><%= link_to Location.find(information.location_id).name, information_path(information) %></td>
      <td><%= Province.find(information.province_id).name %></td>
      <td><%= Location.find(information.location_id).url01 %></td>
      <td><%= information.user.username %></td>
      <td><%= information.date.strftime("%Y/%m/%d") %></td>
      <% if information.images.present? %>
      <td>
      <% information.images.each do |i| %>
      <%= link_to image_tag(i.url(:small)), i.url %>
      <% end %>
      </td>
    <% else %>
      <td>没有附件</td>
      <% end %>
      <% if information.user == current_user || current_user&&current_user.is_admin?  %>
      <td><%= link_to '修改', edit_information_path(information) %>|<%= link_to '删除', information_path(information), method: :delete, data: { confirm: "Are you sure?"} %></td>
    <% else %>
      <td>没有权限修改</td>
      <% end %>
    </tr>

    <% end %>

  </body>
</table>
