<!DOCTYPE html>
<html>
  <head>
    <title>MonitCollect</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked" , style="max-width: 300px;">
            <li>
              <%= link_to("监控系统数据", information_index_path) %>
            </li>
            <li>
              <%= link_to("监控数据添加", new_information_path) %>
            </li>
            <li>
              <%= link_to("队列系统数据", '#') %>
            </li>
            <li>
              <%= link_to("队列数据添加", '#') %>
            </li>
            <li>
              <%= link_to("事件管理", '#') %>
            </li>
            <li>
              <%= link_to("事件添加", '#') %>
            </li>
            <% if current_user && current_user.is_admin? %>
            <li>
              <%= link_to("人员管理", users_path) %>
            </li>
            <% end %>
            <li>
              <%= link_to("字典表管理", dictionars_path) %>
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
